*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  background-color: #F7FAFC;
}
/*------------------------------------------------top bar------------------------------------------------------*/
header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.top-bar{
  width:100%;
  height:75px;
  display: flex;
  align-items: center;
  padding: 0vw 9vw;
  background-color: #ffffff;
  border-bottom: 1px solid #DEE2E7;
  gap: 4vw;
}
/* ----------logo---------- */
.logo{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  height:40px;
  width:auto;
  gap :5px;
}
.logo:hover{
  margin-top: -5px;
}
.brand-logo{
  height:40px;
}
.brand-name{
  color: #8cb7f5;
  font-size: 26px;
  font-weight: bold;
}
/* ----------search bar---------- */
.search-form {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  max-width: 665px;
  height: 40px;
  min-width: 300px;
  margin: 0px 20px;
  border: 1.5px solid #0D6EFD;
  border-radius: 8px;
  overflow: hidden;
}
.search-form:hover{
  border: 2px solid #0D6EFD;
  margin: 0px 19px;
}
#search {
  flex: 2 1 auto;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  border: none;
  font-size: 16px;
}
.search-select {
  flex: 0 0 125px;
  height: 100%;
  border: none;
  border-left: 1px solid #0067FF;
  padding: 0 10px;
  font-size: 14px;
}
.search-select:hover{
  background-color: #EFF2F4;
}
.search-button {
  flex: 0 0 88px;
  height: 100%;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}
.search-button:hover{
  background: linear-gradient(40deg, #127FFF 0%, #0067FF 100%);
}
/*-------quick actions--------*/
.actions {
  flex: 0 0 auto;
  display: flex;
  gap: 16px;
  min-width: 200px;
}
.actions a {
  height: 40px;
  width: auto;
  font-size: 12px;
  color: #8B96A5;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}
.actions a:hover{
  margin-top: -5px;
  height:45px;
}
.actions a img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px; 
}
/*------------------------------------------------------nav bar--------------------------------------------------------*/
.navbar {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #DEE2E7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 100%;
  padding: 0vw 9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
}

.nav-links li a {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-links li a:hover{
  color:#606060;
}
.navbar select:hover {
  color:#606060;
}
.nav-links li a img {
  margin-right: 8px;
}

.nav-links li select {
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.selects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.selects select {
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 30px;
}
/* --------------------------------------------------------main --------------------------------------------------------------*/
body{
  padding-top: 125px;
}
/* ---------------------------------------main-section --------------------------------------*/
.main-section{
  margin:20px 9vw;
  padding: 20px;
  background-color: #ffffff;
  border:1px solid #DEE2E7;
  border-radius: 6px;
  display: flex;
  gap:10px;
  flex-wrap: wrap; 
}
/* --------Category bar---------*/
.main-categories ul{
  list-style: none;
}
.main-categories ul li a{
  font-size: 16px;
  color: #505050;
  font-weight: 400;
  display: block;
  height: 40px;
  width:200px;
  align-content: center;
  border-radius: 6px;
  overflow: hidden;
  padding-left: 10px;
}
.main-categories ul li a:hover{
  background-color: #E5F1FF;
  font-weight: 500;
  color:#1c1c1c;
}
/* --------main banner---------*/
.main-banner{
  background-image: url('Asserts/main-banner-bg.png');
  background-size:cover;
  background-position: center;
  flex:1 1 500px;
  max-width: 665px;
  height:360px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  gap: 5px;
}
.main-banner span{
font-size: 28px;
}
.main-banner strong{
font-size: 32px;
line-height: 100%;
}
.main-banner button{
width: 120px;
height: 40px;
border-radius: 6px;
border: none;
box-shadow: 0px 1px 2px 0px #38383814;
font-size: 16px;
margin-top:10px;
}
.main-banner button:hover{
  height:38px;
  width:118px;
}
/* --------User section---------*/
.main-user{
 display:flex;
 flex-direction: column;
 gap:10px;
 width:200px;
}
.user-account{
  display:flex;
  flex-direction: column;
  background-color: #E3F0FF;
  border-radius: 6px;
  padding: 10px;
  gap:10px;
}
.user-account button{
  height:30px;
  border-radius: 6px;
  border: 1px solid #DEE2E7;
  background-color: #fff;
  color: #0D6EFD;
  font-weight: 500;
}
.user-account button:hover{
 color: #fff;
 background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}
.account-profile{
  display:flex;
  gap:10px;
  font-size: 16px;
  align-items: center;
}
.account-profile img {
  width:44px;
  height:44px;
}
.discount{
  background-color: #F38332;
  color:#ffffff;
  border-radius: 6px;
  font-size: 16px;
  padding: 20px;
  align-content: center;
}
.quotes{
  background-color: #55BDC3;
  color:#ffffff;
  font-size: 16px;
  border-radius: 6px;
  padding: 20px;
  align-content: center;
}
/* ---------------------------------------sale-section --------------------------------------*/
.sale-section{
  margin:20px 9vw;
  background-color: #fff;
  border:1px solid #DEE2E7;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap; 
}
.sale-deadline {
  padding: 20px;
  min-width: 230px;
  flex: 1 1 80px;  
}
.sale-deadline strong{
  font-weight: 600;
  font-size: 20px;
  color: #1C1C1C;

}
.sale-deadline p{
  font-weight: 400;
  font-size: 16px;
  color: #8B96A5;
}
.countdown{
  display:flex;
  gap :5px;
  margin-top: 20px;
  width:auto;
}
.time{
  background-color: #606060;
  display: flex;
  flex-direction: column;
  width:45px;
  height:50px;
  color:#fff;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.time-digit{
  font-weight: 700;
  font-size: 16px;
}
.time-type{
  font-weight: 400;
  font-size: 12px;
}
.sale-items{
  display: flex;
  flex-wrap: wrap;
  flex: 3 1 400px;
}
.item-on-sale:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.item-on-sale{
  border-left: 1px solid #E0E0E0;
  width:158px;
  height:235px;
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-box{
  width:130px;
  height:130px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.image-box img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.item-name{
  margin-top: 10px;
  color:#1c1c1c;
}
.discount-rate{
  margin-top: 10px;
  background-color: #FFE3E3;
  color:#EB001B;
  font-weight: 500;
  width:60px;
  height:28px;
  border-radius: 29px;
  text-align: center;
  align-content: center;
}
/* ---------------------------------------item-section --------------------------------------*/
.item-section{
  margin:20px 9vw;
  background-color: #fff;
  border:1px solid #DEE2E7;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap; 
}
.item-category {
  background-image: url('Asserts/home-2.png');
  background-size:cover;
  background-position:right; 
  background-color: #FFE8BA66;
  background-blend-mode:multiply;
  padding: 20px;
  min-width: 230px;
  flex: 1 1 80px;  
}
#electronics{
  background-image: url('Asserts/electronics-bg.png');
  background-color: #FFFFFF4D;
}
.item-category strong{
  display: block;
  width: 150px;
  opacity: 200%;
  font-weight: 600;
  font-size: 20px;
  color: #1C1C1C;
}
.item-category button{
  height: 40px;
  width:123px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  background-color: #fff;
}
.item-category button:hover{
  height: 38px;
  width:120px;
 
}
.category-items{
  display: flex;
  flex-wrap: wrap;
  flex: 3 1 400px;
}
.each-item{
  border-left: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  width:198px;
  height:127px;
  padding-left:10px;
  padding-top:20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.each-item:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.item-details{
  align-self: flex-start;
}
.item-image{
  width:78px;
  height:78px;
  padding: 5px;
}
.item-image img{
  width: 100%;
  height:100%;
  object-fit: contain;
}
.item-from{
  font-size: 13px;
  color: #8B96A5;
  margin-top: 10px;
}
.product-name{
  color:#1c1c1c;
}
/* ---------------------------------------inquiry-section --------------------------------------*/
.inquiry-section{
  margin:20px 9vw;
  background-image: linear-gradient(94.99deg, #2C7CF1 7.19%, rgba(0, 209, 255, 0.5) 89.49%),url('Asserts/inquiry-bg-1.png');
  border:1px solid #DEE2E7;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap; 
  padding: 30px;
  gap:20px;
  justify-content: space-between;
  align-content: center;
}
.inquiry-info{
  color: #fff;
  max-width: 400px;
  flex: 1 1 400px;
  align-self: flex-start;
}
.inquiry-info h3{
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}
.inquiry-info p{
  margin-top:20px;
  line-height: 24px;
}
.inquiry-form{
  max-width: 460px;
  flex: 1 1 450px;
  box-shadow: 0px 1px 2px 0px #38383840;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
}
.inquiry-form form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.inquiry-data{
  height:40px;
  border-radius: 6px;
  border:1px solid #DEE2E7;
  padding: 10px;
}
.inquiry-form form input::placeholder {
  color: #1c1c1c;
  opacity: 1;
}
.quantity{
  flex-direction: row;
  gap:40px;
}
#inquiry-button{
  color:#fff;
  width:110px;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}
#inquiry-button:hover{
  border: 1px solid #127FFF;
  color:#127FFF;
  background: #fff;
}
#inquiry-quantity{
  flex:1 1 200px;
}
#inquiry-quantity-type{
  flex:1 1 110px;
  flex-direction: row;
}
/* ---------------------------------------recommendation-section --------------------------------------*/
.recommendation-section{
  margin:20px 9vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.recommended-items{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.recommend-item{
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width:189px;
  height:290px;
  gap: 10px;
}
.recommend-item:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.recommend-details{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.recommend-details p{
  color:#8B96A5;
  line-height: 24px;
}
.recommend-details strong{
  color:#1c1c1c;
  font-weight: 500;
}
.recommendation-section h3{
  font-size: 24px;
  font-weight: 600;
  color: #1c1c1c;
}
.recommend-image{
  width:170px;
  height:170px;
}
.recommend-image img{
  width:100%;
  height:100%;
  object-fit: contain;
}
.each-country{
  align-items: center;
  padding: 10px;
  display: flex;
  width:189px;
  height:36px;
  gap: 15px;
}
.country-details a{
  color: #8B96A5;
  font-size: 13px ;
}
.each-country img{
  width:28px;
  height: 20px;
}
/* ---------------------------------------services-section --------------------------------------*/
.services-section {
  margin: 20px 9vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services-section h3{
  font-size: 24px;
  font-weight: 600;
  color: #1c1c1c;
}
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.each-service {
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  width: 245px;
}

.service-image {
  height: 110px;
  background-color: #D3D3D3;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.each-service p {
  padding: 20px;
  margin: 0;
}

.btn-logo {
  position: absolute;
  top: 45%;
  left: 80%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 2px solid #fff;
  background-color: #D1E7FF;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-logo:hover {
  box-shadow: 0 2px 2px #5ab9d8;
}

.service1 .service-image { background-image: url(Asserts/service-1.png); }
.service2 .service-image { background-image: url(Asserts/service-2.png); }
.service3 .service-image { background-image: url(Asserts/service-3.png); }
.service4 .service-image { background-image: url(Asserts/service-4.png); }

.logo1 { background-image: url(Asserts/search-logo.svg); }
.logo2 { background-image: url(Asserts/shop-logo.svg); }
.logo3 { background-image: url(Asserts/sent-logo.svg); }
.logo4 { background-image: url(Asserts/sheild-logo.svg); }

/* ---------------------------------------country-section --------------------------------------*/
.country-section{
  margin:20px 9vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.country-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.each-country:hover{
  background: #EFF2F4;
}
/* ---------------------------------------newsletter-section --------------------------------------*/
.newsletter-section{
  background: #EFF2F4;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter-section h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.newsletter-section p{
  color:#606060;
  line-height: 24px;
}
.newsletter-section form{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
#newsletter-email{
  background: url('Asserts/mail-logo.svg') no-repeat 8px center;
  background-color: #fff;
  background-size: 20px;
  padding-left: 35px; 
  flex:1 0 280px;
}
/* ----------------------------------------------------------footer ------------------------------------------------------------*/
footer {
  background-color: #ffffff;
  max-width: 1440px;
  width:100%;
  min-height: 324px;
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0px 115px 60px 115px;
}

.footer-column {
  flex: 1 1 auto;
  min-width: 100px;
  max-width: 276px;
  margin-top:40px;
  padding-left: 20px;
}

.footer-column h4 {
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 10px;
}

.footer-column p {
  font-size: 16px;
  color: #505050;
  margin: 15px 10px 15px 0px;
  line-height: 24px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  line-height: 24px;
  font-size: 16px;
}
.social-links {
  display:flex;
}

.footer-column ul li a {
  color: #8B96A5;
  font-size: 14px;
}
.footer-column ul li a:hover{
  color: #505050;
}
#footer-logo{
  margin-left:0px;
  margin-top: 5px;
}
#footer-logo:hover{
  margin-top: 0px;
  height:45px
}
.social-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.social-logo:hover{
  width: 30px;
  height: 30px;
  margin-right: 12px;
}
.footer-column ul li a img.social-logo {
  vertical-align: middle;
}

.app-logo {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
}
.app-logo:hover{
  width: 118px;
  height: 38px;
  margin-bottom: 12px;
}
.footer-column ul li a a {
  display: inline-block;
  pointer-events: none;
}
/* ---------------------------copyright bar ------------------------------ */
.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF2F4;
  border-top: 1px solid #DEE2E7;
  height: 68px;
  padding: 0 115px;
  max-width: 1440px;
  margin: auto;
  color: #606060;
}

.copyright-text {
  margin: 0;
  font-size: 14px;
}

.language-select {
  border: none;
  background: transparent;
  color: #606060;
  width: 100px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}
.language-select:hover{
  color: #808080;
}

/* ---------------------------Responsive ----------------------------------*/
@media (max-width: 1224px) {
  .main-banner{
    order: 1;
    flex: 1 1 100%; 
    max-width: 100%;
  }
  .main-categories{
    order: 2;
    flex: 1 1 40%; 
    max-width: 50%;
  }
  .main-categories ul li a{
    width:100%;
  }
  .main-user{
    order: 3;
    flex: 1 1 40%; 
    max-width: 50%;
  }
  .inquiry-section {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  body{
  padding-top: 195px;
}
 .top-bar {
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    padding-top:20px;
    padding-bottom: 20px;
  }

  .search-form {
    order: 3;
    flex: 1 1 100%;
  }

  .actions {
    order: 2;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .navbar {
    height: auto;
  }
  .nav-container {
    flex-direction: column;
    padding: 10px 20px;
  }
  .selects {
    margin-top: 10px;
    justify-content: center;
  }
  .nav-links {    
    justify-content: center;
    gap: 15px;
  }
 .sale-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sale-items{
    justify-content: center;
  }
}
@media (max-width: 768px) {
  body{
  padding-top: 225px;
  }
  .footer-container,.copyright-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }

  .footer-column {
    width: 100%;
  }
  .copyright-container{
    padding: 10px;
  }

}